### Задание 1

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский'],
})
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290],
})
print(f'authors:\n{authors}')
print(f'books:\n{books}')

authors:
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
books:
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

In [3]:
authors_price = pd.merge(authors, books, on='author_id', how='outer')
print(f'authors_price:\n{authors_price}')

authors_price:
   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

In [4]:
top5 = authors_price.nlargest(5, 'price')
print(f'top5:\n{top5}')

top5:
   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4

In [50]:
authors_price_gr = authors_price.groupby('author_name')
a_min = authors_price_gr['price'].min()
a_max = authors_price_gr['price'].max()
a_mean = authors_price_gr['price'].mean()
authors_stat = (authors.merge(a_min, on='author_name', how='inner').merge(a_max, on='author_name', how='inner',suffixes=('_min','_max'))).merge(a_mean, on='author_name', how='inner',suffixes=('','mean'))
print(authors_stat)
# authors_price_gr.agg({"price": "min", "price": "max", "price": "mean"})
# print(f'authors_stat:\n{authors_stat}')

   author_id author_name  price_min  price_max       price
0          1    Тургенев        300        450  366.666667
1          2       Чехов        450        500  475.000000
2          3  Островский        290        370  330.000000